/* CSS Sheet created by Jesse Hudak as part of my Portfolio assignment for UCB Extension Full Stack Dev Cohort */
/* Created on 12/10/2022
Last Edited: XX/XX/XXXX */

/*color palette ref
#262626 - Eerie Black
#ACBFA4 - Laurel Green
#E2E8CE - Beige
#FF7F11 - Amber SAE ECE
#FF1B1C - Red RYB */ 

* { 
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #e2e8ce;
}

.header {
    font-size: 32px;
    padding: 40px;
    background-color: #262626;    
}

.header h1 {
    color: #acbfa4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1%;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 24px;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.header nav {
    padding-top: 15px;
    margin-top: 5px;
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
}

nav {
    display: flex;
    width: 1000px;
    border: 2px solid #ff7f11;
    background-color: #ff7f11;
    display: inline-block;
}
