/* CSS Sheet created by Jesse Hudak as part of my Portfolio assignment for UCB Extension Full Stack Dev Cohort */
/* Created on 12/10/2022
Last Edited: XX/XX/XXXX */

/*color palette ref
#262626 - Eerie Black
#ACBFA4 - Laurel Green
#E2E8CE - Beige
#FF7F11 - Amber SAE ECE
#FF1B1C - Red RYB */ 

* { 
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #e2e8ce;
}

.header {
    display: flex;
    padding: 40px 10px;
    background-color: #262626; 
    align-items: stretch;
    background-image: url(ferncutoutheaderlong.png);
    background-size: 110%;
    background-repeat: no-repeat;
}


.header h1 {
    display: flex;
    color: #acbfa4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1%;
    font-size: 250%;
}

header li {
    display: flex;
    list-style: none;
    padding: 0 2px;
    display: inline-block;
}

.header nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    align-self: flex-end;
}

nav {
    display: flex;
    background-color: #ff7f11;
    display: inline-block;
    wrap: none;
    box-shadow: 0px 2px 2px cornsilk;
}

header a {
    text-decoration: none;
    color: #262626;
    padding: 2px;
}

header a:hover {
    color: #E2E8CE;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    height: 600px;
    align-items: center;
    column-count: 2;
    column-width: 200px;
}

article {
    justify-items: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    outline-style: solid;
    outline-width: 10px;
    outline-color:#acbfa4;
    background-color: #262626;
    padding: 30px;
}

aside {
    align-items: flex-start;
    align-self: left;
    outline-style: solid;
    outline-color: #262626;
    background-color: #ff7f11;
}