/* CSS Sheet created by Jesse Hudak as part of my Portfolio assignment for UCB Extension Full Stack Dev Cohort */
/* Created on 12/12/2022
Last Edited: XX/XX/XXXX */

/*color palette ref
#262626 - Eerie Black
#ACBFA4 - Laurel Green
#E2E8CE - Beige
#FF7F11 - Amber SAE ECE
#FF1B1C - Red RYB */ 

/* first iteration of css code was all messed up, started from scratch with a grid for better lay out */

.container {
display: grid;
grid-template-columns: 1fr 5fr;
grid-column-gap: 10px;
grid-row-gap: 15px;
}

.grid {
    background-color: #262626;
    color: #acbfa4;
    padding: 25px;
    font-size: 3rem;
    }

.header { 
grid-column-start: 1;
grid-column-end: 5;
grid-row-start: 1;
grid-row-end: 2.5;
background-image: url(ferncutoutheaderlong.png);
background-size: 110%;
background-repeat: no-repeat;
font-size: 2em;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display: flex;
}

.sidebar {  /* ABOUT ME */ 
grid-column-start: 1;
grid-column-end: 1;
grid-row-start: 2;
grid-row-end: 3;
background: #262626;
color: #ACBFA4;
font-size: 2em;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
font-size: medium;
color: #E2E8CE;
}

.content { /* Main Content Box */
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 3;
background: #e2e8ce;
height: 60vh;
width: 60vh;
font-size: 2em;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 3fr 1fr 1fr;
grid-column-gap: 1rem;
grid-row-gap: 1rem;

}

.cell-1 { 
grid-row: 1; 
grid-column: 1/2; 
grid-template-areas: "mern mern"
                    "javascript sql"
                    "node html" ;
}

.content .cell {
background-color: coral;
}
    
.footer {  /* Contact Me */
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 6;
grid-row-end: 8;
background: #ff7f11;
color: #e2e8ce;
font-size: 2em;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}  

.footer ul {
display: inline-block;
float: right;
margin-top: -20px;
margin-bottom: -20px;
}