/* CSS Sheet created by Jesse Hudak as part of my Portfolio assignment for UCB Extension Full Stack Dev Cohort */
/* Created on 12/14/2022
Last Edited: XX/XX/XXXX */

/*color palette ref
#262626 - Eerie Black
#ACBFA4 - Laurel Green
#E2E8CE - Beige
#FF7F11 - Amber SAE ECE
#FF1B1C - Red RYB */ 

/* first iteration of css code was all messed up, started from scratch with a grid for better lay out */

/* grid-template-areas:
"header header "
"aside main "
"aside section "
"footer footer "; */



body {
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
 font-size: 1.5rem;   
}

.container {
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.grid {
    background-color: #262626;
    color: #ACBFA4;
    padding: 25px;
    font-size:3rem;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-image: url(ferncutoutheaderlong.png);
}  

.sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    min-height: 400px;
    background-color: #E2E8CE;
}

.extra {
grid-column: 2 / 4;
grid-row: 4 / 5;
padding: 1rem;
display: flex;
flex-wrap: wrap;
border: 1px solid #ececec;
justify-content: space-between;
}



