/* CSS Sheet created by Jesse Hudak as part of my Portfolio assignment for UCB Extension Full Stack Dev Cohort */
/* Created on 12/14/2022
Last Edited: XX/XX/XXXX */

/*color palette ref
#262626 - Eerie Black
#ACBFA4 - Laurel Green
#E2E8CE - Beige
#FF7F11 - Amber SAE ECE
#FF1B1C - Red RYB */ 

/* first iteration of css code was all messed up, started from scratch with a grid for better lay out */

/* grid-template-areas:
"header header "
"aside main "
"aside section "
"footer footer "; */

html {
/*  max-width: 1200px; */
}

body {
    display: flex;
    max-width: 1400px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 auto;
    justify-content:space-around;
    background-color: #262626;
}

p {
    display: inline-flex;
    font-size: 1.5rem; 
    color: #262626; 
}

.container {
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.3fr .03fr .03fr;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}

.grid {
    background-color: #262626;
    color: #ACBFA4;
    padding: 25px; 
    font-size:3rem;
}

.header {
  grid-column: 1 / 5;
  grid-row: 1 / 4;
  background-image: url(ferncutoutheaderlong.png);
  background-size: 100%;
  color: #ACBFA4;
  border: 10px;
  border-style: double;
  border-color: #ACBFA4;
  padding: 40px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max: width 1200px; */
}
/*
h1 {
  grid-column: 5 / 5;
} */

.sidebar {
    grid-column: 1 / 1;
    grid-row: 5 / 8;
    min-height: 400px;
    background-color: #E2E8CE;
    max-width: 550px;
    text-align: right;
}

.h2 {
  font-size: smaller;
}

.content {
    grid-column: 2 / 5;
    grid-row: 5 / 6;
    min-height: 400px;
    background-color: #FF7F11;
    text-align: center;
  /*  max-width: 600px; */
}

 .extra {
    display: subgrid;
    grid-column: 2 / 5;
    grid-row: 6 / 8; 
    min-height: 300px;
    background-color: #FF7F11;
     /*  max-width: 600px; */ 
}

.extra {
 grid-column-gap: repeat (2, 1fr);
 grid-row-gap: repeat (2, 1fr);
 

}

 /* .extra {
  display: grid;
  grid-row: 6 / 8;
  grid-column: 2 / 5;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
}  */

.footer {
    display: flex;
    grid-column: 1 / 5;
    grid-row: 9 / 9; 
    background-color: #E2E8CE;
    border: 10px;
    border-style: double;
    border-color: #262626;
    justify-content: space-between;
    align-items: center;
}

h5 {
    float: left;
    font-size: smaller;
}

h6 {
  font-size: 20px;
}

h7 {
  font-size: 20px;
}

/* unvisited link */
  a:link {
    color:#ACBFA4;
  }
  
  /* visited link */
  a:visited {
    color:  #262626;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF1B1C;
  }
  
  /* selected link */
  a:active {
    color: goldenrod;
  }

  (width: 768px) {
    /* For mobile phones: */
      .header {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;
    }
        
    .sidebar {
     grid-column-start: 1;
     grid-column-end: 6;
     grid-row-start: 2;
     grid-row-end: 3;
    }
    
    .content {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 6;
      background: #f5c531;
      height: 400px;
    }
   
    .extra {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 7;
      grid-row-end: 8;
    }

    .extra .javascript .sql .node .html  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .footer {
      
    }
   
    
  } 
